.header-wrap {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  height: 80px;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-bottom: 1px #ccc;
  background: #fff;
  .header-left {
    display: flex;
    width: 540px;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-family: Ubuntu;
      font-size: 32px;
      font-weight: 700;
      cursor: pointer;
    }
    ul {
      display: flex;
      gap: 40px;
      li {
        color: #585858;
        text-align: center;
        font-family: Ubuntu;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
  .header-right {

  }
}
